.button{
	font-family: "微軟正黑體";
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	height:10px;
	outline: none;
	color: black;
	background-color:#FFCCCC;
	border: none;
	border-radius: 15px;
}
.footer{
	font-family: "微軟正黑體";
	display: block;
	clear:both;
	padding: 5px;
	text-align: center;
	line-height: 150%;
}
div.pic{	
	float: left;
}
div.pic1 img{
	position: relative;
    left: 100px;
    transform:scale(1,1);transition: all 1s ease-out;
}
div.pic2 img{
	position: relative;
    left: 200px;
    transform:scale(1,1);transition: all 1s ease-out;
}
.pic2 img:hover{transform:scale(1.2,1.2);}
.pic1 img:hover{transform:scale(1.2,1.2);}

