.button{
font-family: "微軟正黑體";
display: inline-block;
cursor: pointer;
text-align: center;
text-decoration: none;
height:10px;
outline: none;
color: black;
background-color:#FFCCCC;
border: none;
border-radius: 15px;
}
div table{
margin-top: 70px;
font-size: 22px;
font-family: "微軟正黑體";
color:#FFA;
font-weight:bolder;
width: 600px;
height:300px;
}
.button2{
background-color:#336;
font-size: 36px;
font-family: "微軟正黑體";
color:white;
font-weight: bold;
text-align: center;
border-radius: 15px;
}
.footer{
display: block;
clear:both;
padding: 5px;
text-align: center;
line-height: 150%;
}
h1{
color:#135;
border: none;
border-radius: 15px;
font-family: "微軟正黑體";
margin-top: 200px;
text-align: center;
}